@font-face {
    font-family: Product Sans Regular;
    src: url(/fonts/psansreg.ttf);
}

#misc .selected {
 text-decoration: italic; 
}

#misc ul {
 list-style-type: none;
 padding: 0;
}

body {
 background-color: #3E3E3E;
 color: #F5E5C1;
 font-family: "Product Sans Regular", sans-serif;
 font-size: 11pt;
} 

#lang {
  border-radius: 30px;
  background-color: #505050;
  width: 100px;
  text-align: center;
  margin: auto;
}

#header {
  border-radius: 25px;
 background-color: #505050;
 width: 200px;
 text-align: center;
 margin: auto;
}

#main {
  border-radius: 15px;
 background-color: #505050;
 width: 230px;
 text-align: right;
 float: right;
}

#misc {
  border-radius: 15px;
  background-color: #505050;
  width: 560px;
  text-align: right;
  float: left;
  margin-bottom: 10px;  
}

a {
 color: white;
 font-weight: bold;
 text-decoration: none;
}

#footer {
  border-radius: 15px;
  background-color: #505050;
  padding: 10px;
  text-align: justify;
  font-size: 12px;
  clear: both;  
}
